<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.outsource.changnanguoshui">
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.PartyBuildingActivity"/>
        <activity android:name=".activity.AdministrativeManagementActivity"/>
        <activity android:name=".activity.OnlineActivityActivity"/>
        <activity android:name=".activity.VoteActivity"/>
        <activity android:name=".activity.onlineLearn.OnlineLearnActivity"/>
        <activity android:name=".activity.onlineLearn.OnlinePaymentActivity"/>
        <activity android:name=".activity.taxBusiness.TaxBusinessActivity"/>
        <activity android:name=".activity.ShuiQiHuDong.ShuiQiHDActivity"/>
        <activity android:name=".activity.ShuiQiHuDong.ConsultMsgActivity"/>
        <activity android:name=".activity.MeLearnActivity"/>
        <activity android:name=".activity.PersonnelManagementActivity"/>
        <activity android:name=".activity.MemberInfoActivity"/>
        <activity android:name=".activity.MemberInformationActivity"/>
        <activity android:name=".activity.RegulatoryRetrievalActivity"/>
        <activity android:name=".activity.LearningQueryActivity"/>
        <activity android:name=".activity.LearningProgressActivity"/>
        <activity
            android:name=".activity.LearningDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="52f029b965c9d0a83b0773abd155671d">
        </meta-data>
        <service android:name="com.amap.api.location.APSService"></service>
    </application>


</manifest>